body{
position:relative;
}
 .nav h1{color:#ffffff;font-family:open sans;}
  .nav h2{color:#ffffff;font-family:cursive;}
#menulist{
height:100vh;
text-align:center;
font-size:20px;
margin-left:-15px;
background:#303030;
}
.navbar-fixed-top{background-color:;padding-left:10px;font-size:16px;font-family:bree serif,cambria,times new roman;}
.size{margin-top:0px;}
@media screen and (max-width:1200px) {
    #profile, #education, #skills, #experience
	{
		overflow:none;
    }
	#scrollpage{
		display:none;
	}
	#heading{width:100%;}
	#rightline{margin-left:40px;}
  } 
  #btnsize{font-size:12px;}
  .dropdown .dropdown-menu{background:#6bd983;}
  .divider{color:#000000;background:#ffffff;}
.background-white{background:#ffffff;}
.background-grey{background:#e0e0e0;}/*dddddd*/
.jumbotron{text-align:center;color:black;}
#titlehr{width:50%;}
#titlehr2{width:25%;}
.jumbotron h4{font-family:'Hammersmith one',cambria,times new roman;}	
#profile img{
width:300px;
height:340px;
border-radius:5px;
background:rgba(0,0,0,0.4);
}
#bio{text-align:left;font-style:bold;font-family:sanopen,san-serif;font-size:45px;border-bottom: 1px solid #ccc;}
.col-sm-8 p{text-align:left;font-family:bree serif,san serif;font-size:20px;}
.col-sm-8 dl{font-size:18px;}
#education{font-family:bree serif,cambria,times new roman;font-size:16px;}
#education h1{text-align:center;}
.vertical-line{
	border-left:5px solid red;
	height:100%;
	width:100%	;
}
#leftpart{
text-align:right;border-right:5px solid #03bb7a;height:100%;width:100%;padding-right:30px;
-webkit-animation-duration:3s;
-moz-animation-duration:3s;
}/*green color #03bb7a*/
#rightpart{
padding-top:50%;padding-bottom:30px;
-webkit-animation-duration:3s;
-moz-animation-duration:3s;
}
#rightline{border-left:5px solid #03bb7a;height:100%;width:100%;padding-left:30px;margin-left:-35px;}
.glyphicon-map-marker{color:#03bb7a;}
#education hr{width:50%;background-color:#858a8d;color:#858a8d;height:1px;margin-left:auto;margin-right:auto;}
.container > blockquote{text-align:center;text-decoration:none;border-color:#dddddd;}
#skills{font-family: 'Hammersmith one', sans-serif;}
#skills h1{font-family:sans-serif;font-style:bold;text-align:center;}
#skills  hr{background:#000000;color:#000000;margin-left:auto;margin-right:auto;height:1px;width:50%;}
#skills h3{text-align:center;}
.progress{width:50%;margin-left:25%;}
.progress .progress-bar{width:20%;height:45px;background:#03bb7a;transition:width 1s;-webkit-transition:width 1s;color:white;font-size:13px;}
.progress #communication :hover{width:90%;font-size:16px;color:#000000;}
.progress  #leadership :hover{width:85%;font-size:16px;color:#000000;}
.progress #teamwork :hover{width: 95%;font-size:16px;color:#000000;}
.glyphicon-star{color:#03bb7a;}
.glyphicon-star-empty{color:#d4d4d4;}
p > span{float:right;}
.rating{margin-left:30px;font-size:18px;margin-right:10px;transition:height 1s,transform 1s;}
.rating :hover{background:#eeeeee;}
.glyphicon-star :hover{size:25px;}
.glyphicon-heart{color:#03bb7a;}
#experience h1{text-align:center;padding-top:10px;}
#experience h3{padding-left:20px;}
#experience  hr{background:#000000;color:#000000;margin-left:auto;margin-right:auto;height:1px;width:50%;}
#experience{font-family:bree serif,cambria,times new roman;}
#firstbox  b{text-align:center;font-size:23px;color:#03bb7a;}
#firstbox
{
	width:200px;
	height:auto;
	background-color:#ffffff;
	color:black;
	box-shadow:-1px -1px 50px black;
	margin:auto;
	font-size:18px;
	text-align:center;
	padding:15px;
	margin-top:10px;
	margin-bottom:20px;
}
#firstbox:hover{box-shadow:none;border:2px solid #03bb7a;}
#knowmore1{width:100px;height:30px;text-decoration:none;color:#ffffff;}
#knowmore2{width:100px;height:30px;text-decoration:none;color:#ffffff;}
#hidden_box1,#hidden_box2
{
background-color:white;width:auto;box-shadow:0px 0px 50px black;font-size:20px;
text-align:center;padding:15px;margin-top:10px;margin-bottom:20px;
}
#contact{font-family:bree serif,cambria,times new roman;font-size:16px;color:black}
#contact h1{text-align:center;}
#keepintouch{text-align:center;font-size:17px;margin-top:-15px;}
#contact hr{width:50%;background-color:#858a8d;color:#858a8d;height:1px;margin-left:auto;margin-right:auto;}
.fa-twitter-square,.fa-facebook-square,.fa-google-plus-square,.fa-linkedin-square{font-size:55px;text-align:center;position:center}
#contact .fa-facebook-square:hover{color:#3B5998;}
#contact .fa-linkedin-square:hover{color:#007bb6;}
#contact .fa-google-plus-square:hover{color:#dd4b39;}
#contact .fa-twitter-square:hover{color:#00aced;}
#contact  .fa-twitter-square,.fa-facebook-square,.fa-google-plus-square,.fa-linkedin-square{color:black;}
#fa_icons{text-align:center;}
#icon_position{display:block;margin-left:auto;margin-right:auto;}
#fa_icons a{text-decoration:none;color:#ffffff;}

#section_title{padding-top:20px;}